.table_section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2em;
}

.k-grid{
    max-width: 1100px;
    width: 70vw;
    height: 80vh;
}


.profile_section{
    display: flex;
    align-items: center;
    justify-content: center;
   
}


